<p id="notice"><%= notice %></p>

<h1>Professors</h1>

<%= form_tag(professors_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Professors" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @professors.blank? %>
  <h4>There are no professors with names containing the characters <%= params[:search] %>.</h4>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
