<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>
<p>
  <% @professor.sections.each do |section| %>
    <br>
    <%= "Section: " + section.number.to_s %>
    <% section.enrollments.each do |enrollment| %>
      <%= "Student: " + enrollment.number.to_s %><br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
